@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,600,700&display=swap');
body{
    font-family: IBM Plex Mono;
    font-size: 18px;
    padding-bottom: 10px;
    line-height: 24px;
}
